<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>
    <h1>History</h1><br>
    <p>
		<div class ="column2">
		<%= image_tag("about1.jpg", :alt =>"") %>
		</div>
		<div class = "colomn1">
	     	<b> General Information </b><br>
				Box Hill is a summit of the North Downs in Surrey, approximately 30 km (19 mi) south west of London. The hill takes its name from the ancient box woodland found on the steepest west-facing chalk slopes overlooking the River Mole. The western part of the hill is owned and managed by the National Trust, whilst the village of Box Hill lies on higher ground to the east. The highest point is Betchworth Clumps at 224 m (735 ft) above OD, although the Salomons Memorial overlooking the town of Dorking is the most popular viewpoint.
				Box Hill lies within the Surrey Hills Area of Outstanding Natural Beauty and forms part of the Mole Gap to Reigate Escarpment Site of Special Scientific Interest. The north- and south-facing slopes support an area of chalk downland, noted for its orchids and other rare plant species. The hill provides a habitat for 40 species of butterfly,and has given its name to a species of squash bug, now found throughout south east England.
				An estimated 850,000 people visit Box Hill each year. The National Trust visitors' centre provides both a cafeteria and gift shop and the panoramic views of the western Weald may be enjoyed from the North Downs Way, a long distance footpath that runs along the southern escarpment. Box Hill will feature prominently on the route of the 2012 Summer Olympics cycling road race events, the men doing nine circuits and the women doing two circuits.
		</div>
	</p>
	<p>
		<div class ="column2">
		<%= image_tag("about2.jpg", :alt =>"") %>
		</div>
		<div class = "colomn1">
	     <br>	<b> Geography </b><br>
			Box Hill stands at the south eastern corner of the Mole Gap, the valley carved by the River Mole through the North Downs. Box Hill School is located in the village of Mickleham about 1.4 kilometres (0.9 mi) to the north and the hill overlooks the town of Dorking to the south west. The hill is approximately 30 km (19 mi) south west of central London.
			The National Trust owns and manages much of the western part of Box Hill. Leopold Salomons, owner of Norbury Park donated 95 ha (230 acres) in 1914 in order to protect it from development. Additional land was purchased or donated between 1921 and 1999 and today the Box Hill estate covers an area of around 490 ha (1,200 acres), including Mickleham Downs to the north and Lower Boxhill Farm to the south.
			The village of Box Hill is located to the east of the National Trust property. The earliest flint cottages date from the 1800s, although much of the village was constructed in the first half of the 20th century.By 2005 there were more than 800 dwellings of which over five hundred were mobile homes. An estimated 41% of the community is aged 60 or over. St Andrew's Church, part of the Parish of Headley, was opened in 1969 and the village hall opened in 1972.
		</div><br><br/>	
		 <b> Environment </b></br>
		Box Hill is a Special Area of Conservation and included in a designated Site of Special Scientific Interest, affording it a level of legislative protection against planning applications. The chalk downland environment supports notable populations of bats, lepidopterans, orchids and the hill's namesake, the box tree (buxus sempervirens).
	</p>
	<p>

	<div class ="column2">
		<br><br><br><br><br>
		<%= image_tag("about4.jpg", :alt =>"") %>
		</div>
		<div class = "colomn1">
	      	<br><br/>	
			 <b> Notable Sights </b></br>
		<h2>	Salomons Memorial </h2>
			The most notable sight on Box Hill is the view from the viewing platform. It gives a very clear view, roughly south over Dorking and further in the distance towards Gatwick Airport and right across to the South Downs, i.e. Chanctonbury Ring and Devil's Dyke, Sussex (a distance of 26 miles, according to the inscription on the viewing platform). The Salomons Memorial is often mistakenly considered the summit of the hill, although the land continues to rise to the east. The highest point is at Betchworth Clumps, a wooded area to the south of the Hand-in-Hand public house, with an elevation of 224 metres (735 ft). The summit is occupied by a water tower and transmitter mast.
		</div>
	</p>
	<p>	<h2> Broadwood's Folly </h2>
		The circular flint tower located on the northern tip of Lodge Hill was built for the piano maker Thomas Broadwood, who purchased Juniper Hall in 1815.
	</p>
	<p>

	<div class ="column2">
		<br><br><br><br><br>
		<%= image_tag("about5.jpg", :alt =>"") %>
		</div>
		<div class = "colomn1">
	      	<br><br/>	

		<h2>	Weypole and Stepping Stones </h2>
			The Weypole (or Waypole) is a roughly semi-circular 2.4 ha (5.9-acre) area of level ground at the foot of Box Hill, between The Whites and the River Mole. The area was originally part of the grounds of Burford Lodge, built by John Eckersall in 1776, and the prevalence of apple and cherry trees in the area suggest that it was used as an orchard for a time. The Burford Lodge estate was later owned by the horticuluralist Sir Trevor Lawrence, who created a garden along the banks of the Mole for his collection of orchids.
			A fording point across the River Mole is thought to have existed at this site since prehistoric times.(ref) The way-pole itself was a notched post secured in the riverbed, to indicate the depth of the water. Stepping stones at this site are first recorded in 1841 and it is possible that they were installed by an owner of Burford Lodge to facilitate access to the Weypole orchard. The current stones were dedicated in September 1946 by the then Prime Minister Clement Attlee, replacing those destroyed during WW2 as an anti-invasion measure.  The location is popular both with anglers and families, although swimming is strongly discouraged. The stones give their name to the pub in the nearby village of Westhumble.
	</p>
  </body>
</html>