<!DOCTYPE html>
<html>
  <head>
    <title>Discover Box Hills | <%= @title %></title>
  </head>
  <body>

    <h1>Discover Box Hill</h1>

<p>

      	<% if signed_in? %>
		  <table class="front" summary="For signed-in users">
		    <tr>
		      <td class="main">
		        <h1 class="micropost">What's up?</h1>
		        <%= render 'shared/micropost_form' %>
		      </td>
		      <td class="sidebar round">
		        <%= render 'shared/user_info' %>
		      </td>
		    </tr>
		  </table>
		<% else %>
		<div class ="column2">
		<%= image_tag("gallery.gif", :alt =>"") %>
		</div>
		<div class = "colomn1">
		  <p>
			
		    Join the friends of Box Hill and supports us in the protection of a priceless natural treasure of England. <br>
		   Join the community and exchange ideas, discuss about the communities problems, keep track of the events that take place in these magnificent locations! 
		<br><br> Your help can protect this part of nature and the lives that reside in this environmental treasure.
		 <br><br>
		  </p>
		  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %> 
		<% end %>
	</div>
   </p>
  </body>
</html>